<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone requested a password reset @ thx.bz, <%= @user.name %></h1>
    <p>
      your reset password is: <%= @pw %>.<br>
    </p>
    <p>
      To login to the site with your temporary, just follow this link: <%= @url %>.
    </p>
    <p>thx,<br>thx.</p>
  </body>
</html>