<center>
<div class="container">
  <div class="row">
		<div class="twelve columns">
			<h2><b>thx.bz</b></h2>
			<i>Simple links for your business, thx us later.</i>
			<hr>
		</div>
	</div>
</div>

<div id='loginform'>
	<% if @error %>
		<center>
			<h1 style='color:red;'>Incorrect email and/or password</h1>
		</center>
	<% end %>

	<div class="login">
    <form method='POST' action='/sessions/create'>
    	<label>Name</label>
    	<input class='inputbox' type="text" name="name" placeholder="Name" required="required" /><br>
    	<label>Password</label>
      <input class='inputbox' type="password" name="password" placeholder="Password" required="required" /><br>
      <input name='authenticity_token' value='<%= form_authenticity_token() %>' type='hidden'><br>
      <button class="button-primary" type="submit" id="loginbutton">Log In</button>      
    </form>
	</div>
</div>