<center>
<div class="container">
  <div class="row">
		<div class="twelve columns">
			<h2><b>thx.bz</b></h2>
			<i>Simple links for your business, thx us later.</i>
			<hr>
		</div>
	</div>
</div>

	<div id='createform'>
		<h2>Create a New Account</h2>
		<% if @error %>
			<center>
				<h3 style='color:red;'>User already exists.</h3>
			</center>
		<% end %>
	<br>
		<div class="singup">
			<form method='POST' action='/users/create'>
    	<label>Name</label>
    	<input class='inputbox' type="text" name="name" placeholder="Name" required="required" /><br>
    	<label>Password</label>
      <input class='inputbox' type="password" name="password" placeholder="Password" required="required" /><br>
				<input name='authenticity_token' value='<%= form_authenticity_token() %>' type='hidden'>
				<button class='button' id='submit'>Sign Up</button>
			</form>
		</div>
	</div>
	<a class="button" href="/">Back Home</a>
	
</center>