/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	margin:0;
	padding:0;
}

.addform input{
	width: 300px;
}

form{
	margin: 0;
}

.footer .container{
	margin-top: 10px;
	font-size: .75em;
	width: 100%;
	background-color: rgba(250,250,250,1);
	color: #777;
}

div{
	border: 0px solid red;
/*	word-wrap: break-word;*/
}

hr{
	margin-top: 2px;
	margin-bottom: 10px;
}

.add-absolute{
	display: none;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:350px;
	height:250px;
	margin:auto;
  padding:1em 0;
  background-color:#fff;
  color:#222;
  border: 1px black solid;
  text-align:center;
}

.localadd, .externaladd{
	width: 90%;
}