input{
	cursor: pointer;
}

@charset "utf-8";

/*================================================================
	Resets
================================================================*/

div, section, ul, li, h1, h2, h3, h4, table, td, tr, form, label, iframe, img {
	margin: 0;  
	padding: 0;
	border: 0;
	display: block;
	position: relative;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #b4bcce;
}

:-moz-placeholder {
   color: #b4bcce;
}

::-moz-placeholder {
   color: #b4bcce;
}

:-ms-input-placeholder {  
   color: #b4bcce;
}

/*================================================================
	General
================================================================*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	min-width: 1040px;
}

body {
	margin: 0;
	background: #c9daec;
	font-family: 'HelveticaNeueW01-45Ligh', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #95208d;
	-webkit-font-smoothing: antialiased;
}

.hidden {
	display: none;
}

.row {
	margin: 0 auto;
	width: 1040px;
}

.horizontal, .saved, .row {
	*zoom: 1;
}

.horizontal:before, .horizontal:after,
.saved:before, .saved:after,
.row:before, .row:after {
	display: table;
	line-height: 0;
	content: "";
}

.horizontal:after,
.saved:after,
.row:after {
	clear: both;
}

.horizontal > li,
.saved > li {
	float: left;
}

.table-style {
	display: table;
	width: 100%;
}

.table-style li,
.cell {
	display: table-cell;
	vertical-align: top;
}

/*================================================================
	Text
================================================================*/

input[type=text] {
   border: 0;
   padding: 0;
   margin: 0;
   box-shadow: 0;
   outline: 0;
   font-family: 'Code Pro W01 Lowercase', Helvetica, Arial, sans-serif;
   font-size: 18px;
   color: #95208d;
}

/*================================================================
	Header
================================================================*/

.header {
	background: url('/header.png') no-repeat center top;
	width: 100%;
	position: relative;
	height: 360px;
	margin-bottom: 40px;
}

.logo {
	background: url('/logo.png') no-repeat;
	position: absolute;
	width: 256px;
	height: 60px;
	left: 50%;
	margin-left: -118px;
	margin-top: 120px;
	z-index: 1;
}

/*.userwidget {
	position: absolute;
	color: white;
	padding: 0 auto;
	width: 50%;
	height: 60px;
	left: 0;
	text-align: right;
	font-family: "Impact";
	letter-spacing: 4px;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	font-size: 2.5em;
	padding-top: 20px;
	margin-left: -118px;
	margin-top: 120px;
	z-index: 2;
	cursor: default;
}*/

.pulse {
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 130px;
	margin-left: -20px;
	background: #3086b8;
	border-radius: 80px;
}

.main-input {
	margin-top: 285px;
	height: 70px;
	background: #fff;
	font-size: 18px;
	box-shadow: 0px 3px 0px #c6c6e3;
}

.main-input .url {
	height: 70px;
	font-size: 18px;
	padding: 0px 30px;
}

.main-input .slash {
	width: 20px;
	margin: 0px 0px 0px 30px;
	height: 70px;
	line-height: 70px;
	text-align: left;
	color: #b4bcce;
	font-family: 'Code Pro W01 Lowercase', Helvetica, Arial, sans-serif;
}

.main-input .source {
	width: 471px;
	border-right: 1px solid #e4ecf5;
	padding-left: 0;
}

.main-input .destination {
	width: 449px;
	border-left: 1px solid #e4ecf5;
}

.main-input .add {
	width: 70px;
	height: 70px;
	background: url('/add.png') no-repeat center center #95208d;
	cursor: pointer;
}

.saved-list {
	box-shadow: 0px 3px 0px #c6c6e3;
}

.saved{
	margin: 0 auto;
}

.saved {
	width: 1040px;
	background: #e1ecf9;
	margin-bottom: 1px;
	cursor: pointer;
	position: relative;
	box-shadow: 0;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.saved:before {
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.hoveredon{
	background: #fff;
	box-shadow: 0px 10px 10px rgba(10,51,97,.1);
	z-index: 99;
	transform: scale(1.01, 1.14);
	-moz-transform: scale(1.01, 1.14);
	-ms-transform: scale(1.01, 1.14);
	-webkit-transform: scale(1.01, 1.14);
	-o-transform: scale(1.01, 1.14);
}

.saved .ellipsis {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.saved .source {
	width: 520px;
	padding: 0px 30px;
	line-height: 70px;
	font-size: 18px;
	font-family: 'Code Pro W01 Lowercase', Helvetica, Arial, sans-serif;
}

.saved .destination {
	width: 410px;
	padding: 0px 20px 0px 30px;
	line-height: 70px;
	font-size: 13px;
	color: #b4bcce;
}

.saved .source span {
	display: inline-block;
}

.saved .source .base {
	color: #b4bcce;
}

.saved .btn {
	width: 50px;
	height: 70px;
	opacity: 0.2;
	cursor: pointer;
	background: no-repeat center center;
	-webkit-transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-o-transition: opacity .1s ease-in-out;
	transition: opacity .1s ease-in-out;
}

.saved .btn:hover {
	opacity: 1;
}

.saved .menu .btn {
	background-image: url('/ellipsis.png');
}

.saved .copy .btn {
	background-image: url('/copy.png');
}

.saved .arrow .btn {
	background-image: url('/arrow.png');
}

.saved .del .btn {
	background-image: url('/del.png');
}

.saved .url {
	height: 70px;
	font-size: 18px;
	padding: 0px 30px;
}

.saved .source{
	width: 520px;
	padding-left: 20;
	font-size: 18px;
	font-family: 'Code Pro W01 Lowercase', Helvetica, Arial, sans-serif;
	background: no-repeat center center;
}

.saved .destination{
	width: 420px;
	padding-left: 20;
	line-height: 70px;
	font-size: 13px;
	color: #b4bcce;
	background: no-repeat center center;
}

.savedmsg{
	display: none;
	position: absolute;
  width: 1040px;
  height: 50px;
  text-align: center;
  background-color: white;
}
.savedmsgtext{
  margin: 0 auto;
  padding-top: 26px;
  font-size: 2em;
	font-family: 'Code Pro W01 Lowercase', Helvetica, Arial, sans-serif;
}

.footer{
	font-size: 1.2em;
	width: 100%;
	text-align: center;
	margin: 20px 0px;
	line-height: 30px;
	font-family: 'Code Pro W01 Lowercase', Helvetica, Arial, sans-serif;
}
.footer a, .footer a:hover, .footer a:visited{
	text-decoration: none;
}








.cardwrap {
	margin: 0 auto;
	width: 1040px;
  height: 70px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped, .card .back {
  -webkit-transform: rotateX( 180deg );
  -moz-transform: rotateX( 180deg );
  -o-transform: rotateX( 180deg );
  transform: rotateX( 180deg );
}

.card .front, .card .back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  background: #228653;
  color: white;
  text-align: center;
  font-size: 4em;
  z-index: 2
}

.back {
  background: red;
  color: blue;
  text-align: center;
  font-size: 2em;
  z-index: 1
}

