@charset "utf-8";

/*================================================================
	Resets
================================================================*/
div, section, ul, li, h1, h2, h3, h4, table, td, tr, form, label, iframe, img {
	margin: 0;  
	padding: 0;
	border: 0;
	display: block;
	position: relative;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
	padding: 0;
	margin: 0;
}
ul {
	list-style: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #b4bcce;
}

:-moz-placeholder {
   color: #b4bcce;
}

::-moz-placeholder {
   color: #b4bcce;
}

:-ms-input-placeholder {  
   color: #b4bcce;
}



/*================================================================
	GENERAL 
================================================================*/
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	min-width: 1040px;
}
body {
	margin: 0;
	background: #c9daec;
	font-family: 'Code Pro W01 Lowercase', Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #95208d;
}
.hidden {
	display: none;
}
.row {
	margin: 0 auto;
	width: 1040px;
}
.horizontal, .saved, .row {
	*zoom: 1;
}
.horizontal:before, .horizontal:after,
.saved:before, .saved:after,
.row:before, .row:after {
	display: table;
	line-height: 0;
	content: "";
}
.horizontal:after,
.saved:after,
.row:after {
	clear: both;
}
.horizontal > li,
.saved > li {
	float: left;
}
.table-style {
	display: table;
	width: 100%;
}
.table-style li,
.cell {
	display: table-cell;
	vertical-align: top;
}



/*================================================================
	TEXT 
================================================================*/
input[type=text] {
	border-radius: 0;
   border: 0;
   padding: 0;
   margin: 0;
   box-shadow: 0;
   outline: 0;
   font-family: 'Code Pro W01 Lowercase', Verdana, Helvetica, Arial, sans-serif;
   font-size: 18px;
   color: #95208d;
   -webkit-font-smoothing: antialiased;
}
input{
	cursor: pointer;
}


/*================================================================
	HEADER/LOGO/PULSE
================================================================*/
.header {
	position: relative;
	width: 100%;
	height: 360px;
	margin-bottom: 40px;
	overflow: hidden;
}
.bg img{
  position:absolute;
  left:50%;
  width: 3200px;
  margin-left:-1600px;
  height:320px
}
.logo {
	position: absolute;
	width: 256px;
	height: 60px;
	left: 50%;
	margin-left: -118px;
	margin-top: 120px;
	z-index: 1;
}
.pulse {
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 0;
	left: 50%;
	top: 130px;
	margin-left: -20px;
	background: #3086b8;
	border-radius: 80px;
}



/*================================================================
	MAIN ADD BOXES 
================================================================*/
.main-input {
	height: 70px;
	margin-top: 285px;
	background: #fff;
	font-size: 18px;
	box-shadow: 0px 3px 0px #c6c6e3;
}
.main-input .url {
	height: 70px;
	font-size: 18px;
	padding: 0px 30px;
}
.main-input .slash {
	width: 20px;
	margin: 0px 0px 0px 30px;
	height: 70px;
	line-height: 70px;
	text-align: left;
	color: #b4bcce;
}
.main-input .source {
	width: 471px;
	border-right: 1px solid #e4ecf5;
	padding-left: 0;
}
.main-input .destination {
	width: 449px;
	border-left: 1px solid #e4ecf5;
}
.main-input .add {
	width: 70px;
	height: 70px;
	background: url('/add.png') no-repeat center center #95208d;
	cursor: pointer;
}



/*================================================================
  SAVED LIST
================================================================*/
.back .saved .source {
	border-right: 1px solid #e4ecf5;
	width: 220px;
	padding-left: 5px;
	margin-left: 20px;	
	font-size: 18px;
}
.back .saved .destination {
	border-left: 1px solid #e4ecf5;
	padding-left: 20px;
	width: 540px;
	margin-left: 0px;
	font-size: 14px;
}
.back .saved input{
	border-radius: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	height: 70px;
	background-color: #fff;
	color: #95208d;
	border: 0;
	
}
.back .saved .destination:focus,.back .saved .source:focus{
	font-style: italic;
}
.back .saved .counter {
	text-align: center;
	width: 160px;
	padding: 0px 30px;
	line-height: 70px;
	font-size: 14px;
	color: #95208d;
}

.saved-list {
	/*box-shadow: 0px 3px 0px #c6c6e3;*/
}
.saved{
	margin: 0 auto;
}
.saved {
	width: 1040px;
	background: #e1ecf9;
	margin-bottom: 1px;
	cursor: pointer;
	position: relative;
	box-shadow: 0;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.saved:before {
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.saved .ellipsis {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.saved .source span {
	display: inline-block;
}
.saved .source .base {
	color: #b4bcce;
}
.saved .btn {
	width: 50px;
	height: 70px;
	opacity: 0.2;
	cursor: pointer;
	background: no-repeat center center;
	-webkit-transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-o-transition: opacity .1s ease-in-out;
	transition: opacity .1s ease-in-out;
}
.flipped .btn:hover,.hoveredon .btn:hover {
	opacity: 1;
}
.saved .menu .btn {
	background-image: url('/ellipsis.png');
}
.saved .copy .btn {
	background-image: url('/copy.png');
}
.saved .arrow .btn {
	background-image: url('/arrow.png');
}
.saved .del .btn {
	background-image: url('/del.png');
}
.back .menu .btn {
	background-image: url('/back.png');
}
.savedmsg{
	z-index: 999999;
	display: none;
	position: absolute;
  width: 1040px;
  height: 70px;
  text-align: center;
  background-color: white;
}
.savedmsgtext{
  margin: 0 auto;
  padding-top: 26px;
  color: #95208d;
  font-size: 3em;
}



/*================================================================
	FOOTER 
================================================================*/
.footer{
	font-size: 1.2em;
	width: 100%;
	text-align: center;
	margin: 20px 0px;
	line-height: 30px;
}
.footer a, .footer a:hover, .footer a:visited{
	text-decoration: none;
}



/*================================================================
	WHEN A ROW IS HOVERED/SELECTED
================================================================*/
.hoveredon{
	z-index: 99;
	background: #fff;
	transform: scale(1.01, 1.14);
	-moz-transform: scale(1.01, 1.14);
	-ms-transform: scale(1.01, 1.14);
	-webkit-transform: scale(1.01, 1.14);
	-o-transform: scale(1.01, 1.14);
	box-shadow: 0px 5px 10px rgba(10,51,97,.1);
}



/*================================================================
	CARD FLIP CLASSES
================================================================*/
.flip {
  width: 1040px;
  height: 70px;
  margin-bottom: 16px;
  perspective: 800;
  -moz-perspective: 800;
  -webkit-perspective: 800; 
}
.flip .card.flipped {
	box-shadow: 0px -10px 10px rgba(10,51,97,.1);
 	z-index: 99;
 	transform: rotatex(-180deg);
	-webkit-transform: rotatex(-180deg);
	-moz-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transform-style: preserve-3d; 
  -webkit-transform-style: preserve-3d; 
  -moz-transform-style: preserve-3d; 
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.flip .card .front {
  z-index: 1; /*THIS LINE BREAKS OVERLAP*/
  position: absolute;
  background: black;
  color: white;
  cursor: pointer;
}
.flip .card .back {
	z-index: 2;
  color: #95208d;
  cursor: pointer;
  transform: rotatex(-180deg) scale(1.01,1.14);
  -webkit-transform: rotatex(-180deg) scale(1.01,1.14);
  -moz-transform: rotatex(-180deg) scale(1.01,1.14);

}
.front .p1url{
	width: 520px;
	height: 100%;
	margin: 0 auto;
	padding: 0px 20px 0px 30px;
	line-height: 70px;
	font-size: 18px;
	color: #b4bcce;
	display: inline-block;
}
.front .p2url{
	color: #95208d;
}
.front .p3url{
	width: 420px;
	height: 100%;
	margin: 0 auto;
	padding: 0px 20px 0px 30px;
	line-height: 70px;
	font-size: 14px;
	color: #95208d;
	display: inline-block;
}

.back .menu, .back .del{
	background-color: #fff
}
.back .saved{
	background-color: #fff
}

.back .helper{
	/*display: none;*/
	position: absolute;
	width: 900px;
	font-size: 11px;
	padding-top: 5px;
	padding-left: 5px;
	color: #999;
	height: 20px;
	z-index: 3;
}
.back .helper .one{
	position: absolute;
	left: 25px;
	top: 50px;
}
