body{
	background-color: #c9daec;
}

.header{
	width: 100%;
}

#topleft{
	width: 50%;
	height: 240px;
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to bottom, #134b7a, #0d3360);
}

#topright{
	width: 50%;
	height: 240px;
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to bottom, #134b7a, #3189bb);
}

#logo{
	z-index: 999;
	width: 100%;
	position: absolute;
	top: 40px;
}

#logoring{
	position: absolute;
	width: 100%;
	height: 68px;
	top: 60px;
	/*opacity: .5;*/
}

#ring{
	width: 100px;
	height: 100px;
	z-index: -1;
	background-color: #256d9f;
	border-radius: 50%;
  -webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}


#addform{
	margin-top: -54px
}

#addleft{
	width: 50%;
	height: 50px;
	padding: 0;
	margin: 0;
}
#addright{
	width: 45%;
	height: 50px;
	padding: 0;
	margin: 0;
}
#makebutton{
	width: 5%;
	height: 50px;
	padding: 0;
	margin: 0;
}

#addform .inputbox, 
#individual .inputbox{
	border-radius: 0px;
	padding: 10px 20px 10px 20px;
	margin: 0px -2px 0px -2px;
	color: #96218c;
	width: 100%
}

#newlocal, 
#linklocal{
	height: 51px;
	background-color: white;
	border-right: 0;
}

#newexternal, 
#linkexternal{
	height: 51px;
	background-color: white;
	border-left: 1px solid #ddd;
	border-right: 0;
}

#createbutton{
	border-radius: 0px;
	height: 50px;
	padding: 0px 0px 5px 0px;
	font-size: 2em;
	font-weight: lighter;
	margin: 0px -2px 0px -2px;
	background-color: #96218c;
	border: 1px solid #96218c;
	width: 100%;
	color: #fff;
}


#linkleft{
	width: 50%;
	height: 50px;
	padding: 0;
	margin: 0;
}
#linkright{
	width: 40%;
	height: 50px;
	padding: 0;
	margin: 0;
}


#menubox, 
#gobox{
	width: 5%;
	height: 50px;
	border-radius: 0px;
	height: 51px;
	font-size: 1em;
	margin:0px 0px 0px 0px;
	padding:10px 0px 0px 0px;
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 0px;
	border-left: 0px solid white;
	color: #96218c;
}

#gobox:hover,#menubox:hover{
	cursor: pointer;
}


#individual{
	background-color: white;
	opacity: .6;
	margin: -3px 0px 0px 0px;
	-ms-transform: scale(.98,.98); /* IE 9 */
  -webkit-transform: scale(.98,.98); /* Chrome, Safari, Opera */
  transform: scale(.98,.98);
  transition: all 50ms ease-in-out;
}

#individual:hover{
	opacity: 1;
 	box-shadow: 0px 4px 2px rgba(0,0,0,.2);
  z-index: 999;
  -ms-transform: scale(1,1); /* IE 9 */
  -webkit-transform: scale(1,1); /* Chrome, Safari, Opera */
  transform: scale(1,1);
  transition: all 50ms ease-in-out;
}

.footer{
	font-size: 12px;
	color: #777;
}

a, a:hover, a:visited, a:active{
	color: #96218c;
	text-decoration: none;
}

.menuicon{
	/*background-color: red;*/
	height: 35px;
	padding-top: 5px;
	margin-top: -5px;
}
.goicon{
	/*background-color: red;*/
	height: 35px;
	padding-top: 5px;
	margin-top: -5px;
}

.floating-menu{
	border-radius: 5px;
	background-color: white;
  position: absolute;
  opacity: 0;
  width: 400px;
  height: 100px;
  z-index: 999999;
  box-shadow: 0px 4px 2px rgba(0,0,0,.2);
	-webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  transition: opacity 500ms;
}


#trash, #counter{
	color: #96218c;
}

#trash{
	float: right;
	margin-top: 10px;
	width: 40px;
	font-size: 1.2em;
	margin-right: 30px;
}

#counter{
	float: left;
	margin-top: 10px;
	width: 250px;
	font-size: 1.2em;	
	margin-left: 30px;
}

#popinfo{
	color: #666;
	margin-top: 15px;
	font-size: 1.2em;
	font-weight: bold;
}

#shade {  
	display: none;
	position:absolute;
	background-color: rgba(0,0,0,.5);
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:9999;
}


/*div{border:1px solid blue;}*/